body {
  font-family: Arial, sans-serif;
  margin: 30px;
}

.light {
  background-color: white;
  color: black;
  padding: 8px 15px;
  border: 1px solid black;
}

.dark {
  background-color: black;
  color: white;
  padding: 8px 15px;
  border: 1px solid black;
}